{% extends 'news/default.html' %}
{% load static %}

{% block MyCss %}
<title> {{ news.title }}</title>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block MyContent %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseMenu">
          <span class="icon-bar">Меню</span>
        </button>
        <a class="navbar-brand" href="#">SkillFactory News</i></a>
      </div>
      <div class="collapse" id="collapseMenu" >
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://apps.skillfactory.ru/" target="_blank">Учебная Платформа</a></li>
          <li><a href="http://127.0.0.1:8000/authors/">Авторы</a></li>
          <li><a href="http://127.0.0.1:8000/">На Глаvную</a></li>
          <li><a href="http://127.0.0.1:8000/search/">ПОИСК</a></li>
        </ul>
      </div>
    </div>

<h1>Посты</h1>

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if products %}
       <table>
           <tr>
               <td>ID поста</td>
               <td>Автор</td>
               <td>Статья/Новость</td>
               <td>Дата</td>
           </tr>

           {% for product in newslist %}
           <tr>
               <td>{{ post_n.pk }}</td>
               <td>{{ post_n.author }}</td>
               <td>{{ post_n.dataCreations }}</td>
               <td>{{ product.price|currency }}</td>
               <td>{{ product.quantity }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Постов нет</h2>
   {% endif %}

{%if page_obj.has_previous %} {# whether the previous page exists #}
    <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
{% endif %}
<span>{{page_obj.number}}</span> {# the current page number #}
{%if page_obj.has_next %} {# whether the next page exists #}
    <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
{% endif %}

  <div id="lg">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-2 col-lg-offset-1">
          <img src=" {% static 'img/c01.png' %}" alt="">
        </div>
        <div class="col-lg-2">
          <img src=" {% static 'img/c02.png' %}" alt="">
        </div>
        <div class="col-lg-2">
          <img src=" {% static 'img/c03.png' %}" alt="">
        </div>
        <div class="col-lg-2">
          <img src=" {% static 'img/c04.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
    <br><br>
  <div id="r">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h4></h4>
          <p> ArnestD © 2023</p>
        </div>
      </div>
    </div>
  </div>
  <div id="f">
    <div class="container">
      <div class="row centered">
          <a href="https://vk.com/dark_elf_arnest"><i class="fa fa-vk"></i></a>
      </div>
    </div>
  </div>

{% endblock %}